.title {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left {
    flex-basis: 40%;
    padding: 0 1rem;
    margin: 0 1rem;
}

.right {
    flex-basis: 40%;
    padding: 1rem;
    margin: 1rem;
}

.map {
    width: 100%;
    height: 300px;
}

@media(max-width: 700px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
    .left, .right {
        flex-basis: 90%;
    }
}

.input {
    width: 4.5rem;
    height: 1.5rem;
    margin: 1rem 0;
    border: 1px solid #eaeaea;
    outline: none;
}

.submit {
    width: auto;
    height: 1.7rem;
    margin-left: 1rem;
    outline: none;
    border: 1px solid #eaeaea;
    background-color: #fff;
    font-family: monospace;
}

.submit:hover {
    background-color: #0070f3;
    color: white
}

.location {
    font-size: 2rem;
    margin-bottom: 20px;
}

.weather {
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.temp {
    padding-right: 1rem;
    font-size: 2rem;
}

.degree {
    background-color: #161616;
    border: none;
    outline: none;
    font-size: 2rem;
    color: #0070f3;
}

.sky {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    font-size: 1.5rem;
}

.information {
    padding-left: 1.5rem;
    margin-bottom: 0.5rem;
}

.color {
    color: #0070f3;
}