.home {
    text-align: center;
}

.main {
    background-color: #eaeaea;
    max-width: 60%;
    margin: 0 auto;
    color: #161616;
    border: 1px solid #eaeaea;
    border-radius: 2rem;
}

.home h1 {
    margin: 3rem 0;
    font-size: 3rem;
    color: #ffa500;
}

.temp {
    font-size: 3rem;
    color: #0070f3;
}

.degree {
    outline: none;
    font-size: 2rem;
    background-color: #eaeaea;
    border: none;
    color: #ffa500;
}

.weather {
    font-size: 2rem;
}

.icon {
    width: 3rem;
    height: auto;
}

.city {
    font-size: 1.5rem;
}

.input {
    width: 6rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    outline: none;
    border: none;
}

.submit {
    margin-bottom: 1rem;
    outline: none;
    background-color: #161616;
    color: white;
    border: none;
}

.submit:hover {
    color: orange
}